In [2]:
from pyspark import SparkContext
sc = SparkContext("local", "First App")

In [3]:
data = [("Alice", 80), ("Bob", 90), ("Alice", 70), ("Bob", 85), ("Charlie", 60)]
rdd = sc.parallelize(data)

In [4]:
rdd.collect()

[('Alice', 80), ('Bob', 90), ('Alice', 70), ('Bob', 85), ('Charlie', 60)]

In [7]:
rdd1 = rdd.map(lambda x: (x[0], (x[1], 1)))\
        .reduceByKey(lambda x, y: (x[0] + y[0], x[1] + y[1]))\
        .mapValues(lambda x: x[0] / x[1])
rdd1.collect()

[('Alice', 75.0), ('Bob', 87.5), ('Charlie', 60.0)]

In [10]:
rdd2 = rdd.map(lambda x: (x[0] , (x[1] , 1)))\
        .reduceByKey( lambda x, y : (x[0] + y[0] ,x[1] + y[1]) )\
        .mapValues(lambda x: x[0]/x[1])

In [11]:
numbers = [5, 3, 4, 5, 2, 3, 5, 3, 4]
rdd3 = sc.parallelize(numbers)

In [15]:
rdd3.map(lambda x: (x,1) ).reduceByKey(lambda a,b: a+b  ).map(lambda x: (x[1],x[0])).sortByKey(False).map(lambda x: (x[1],x[0])).collect()

[(5, 3), (3, 3), (4, 2), (2, 1)]